<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStart"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GetSlotItemExtended"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\MinecraftDev\GetSlotItemExtended\run"/><stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dmacros.modules=me.seferan.getslotitemextended.vars.VariableProviderModuleBool,me.seferan.getslotitemextended.action.ScriptActionGetSlotItemExt,me.seferan.getslotitemextended.action.ScriptActionGetSlotItemEnchants -DFORGE_FORCE_FRAME_RECALC=true"/></launchConfiguration>